:root {
  --color-primary: #D32F2F; /* red */
  --color-secondary: #212121; /* dark */
  --color-background: #F5F5F5;
  --color-text: #212121;
  --color-muted: #9E9E9E;

  --color-accent: #FFC107;
  --color-success: #4CAF50;
  --color-info: #2196F3;
  --color-error: #B71C1C;

 
}

.card-img-top{
  aspect-ratio: 16/9 !important;
  object-fit: cover;
}

.navbar-toggler {
  border: none !important;
}

.container{
  background-color: transparent !important;
}

main{
  background-color: var(--color-background);
}

.btn{
  border-radius: 2px !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none !important;
}

.nav-link{
  text-align: center;
}

h1{
  margin-bottom: 5rem;
  text-align: center;
}

/* Styles for the container */
.blog-container {
  display: grid;
  grid-template-columns: 1fr; /* 1 column on mobile by default */
  gap: 20px; /* Gap between the blog posts */
  padding: 20px;
}

/* Blog post item styling */
.blog-post,.card-img-top {
  border-radius: 0 !important;
}

.blog-post{
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.27) !important;
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.27) !important;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.27) !important;
}

/* For medium screens (tablet, 2 blog posts per row) */
@media (min-width: 768px) {
  .blog-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }
}

/* For larger screens (desktop, 3 blog posts per row) */
@media (min-width: 1024px) {
  .blog-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for desktop */
  }
}

/* For very large screens (larger desktop, 4 blog posts per row) */
@media (min-width: 1400px) {
  .blog-container {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for very large screens */
  }
}

